# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.dll
*\bin
*\obj

.vs/LightPomFramework/v14/.suo
# Ignore NuGet Packages
*.nupkg
# Ignore the packages folder
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config

*.lock
*.ide
.vs/LightPomFramework/v15/Server/sqlite3/storage.ide-shm
.vs/LightPomFramework/v15/Server/sqlite3/storage.ide-wal
.vs/LightPomFramework/v15/sqlite3/storage.ide-shm
.vs/LightPomFramework/v15/sqlite3/storage.ide-wal
/WebDriverTimeoutsTutorial/WebDriverTimeoutsTutorial.csproj.user
/ElementInteractions/Y.cs
.vs/LightPomFramework/v15/.suo
*.suo
.vs/LightPomFramework/v15/.suo
